// Button.scss

@use '../variables' as *;  // Подключаем _variables.scss

.aam_button {
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid $border-primary;  // Используем переменную для границы
    border-radius: 5px;
    background-color: $white;  // Используем переменную для фона
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: $background-hover;  // Используем переменную для фона на hover
    }
  
    &.primary {
      background-color: $aam_background-color;  // Используем переменную для фона primary
      color: $white;  // Используем переменную для текста
    }
  
    &.secondary {
      background-color: $aam_text-primary;  // Используем переменную для фона secondary
      color: $white;  // Используем переменную для текста
    }
}
