@use '../variables' as *;

.aam_button {
  display: inline-block;
  padding: 11px 32px;
  text-decoration: none;
  border-radius: 10px;
  font-size: $font-size-small + 2px;
  font-weight: $font-weight-semibold;
  line-height: 21.79px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, color 0.3s, border-color 0.3s;

  &:hover {
    background-color: $text-light;
  }

  &:active {
    transform: scale(0.98);
  }

  &--green {
    display: inline-block;
    padding: 11px 32px;
    text-decoration: none;
    border-radius: 10px;
    font-size: $font-size-small + 2px;
    font-weight: $font-weight-semibold;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s, border-color 0.3s;
    border: 1.5px solid $background-color;
    color: $background-color;
  }

  &--green:hover {
    background-color: $background-color;
    color: $white;
  }

  &--green:active {
    transform: scale(0.98);
    /* Уменьшаем кнопку при активации */
  }

  &--white {
    display: inline-block;
    padding: 11px 32px;
    text-decoration: none;
    border-radius: 10px;
    font-size: $font-size-small + 2px;
    font-weight: $font-weight-semibold;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s, border-color 0.3s;
    border: 1.5px solid $white;
    color: $white;
  }

  &--white:hover {
    background-color: $background-color;
  }

  &--white:active {
    transform: scale(0.98);
    /* Уменьшаем кнопку при активации */
  }

  &--danger {
    display: inline-block;
    padding: 11px 32px;
    text-decoration: none;
    border-radius: 10px;
    font-size: $font-size-small + 2px;
    font-weight: $font-weight-semibold;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s, border-color 0.3s;
    border: 1.5px solid $error-color;
    color: $error-color;
  }

  &--danger:hover {
    background-color: $error-color;
    color: $white;
  }

  &--danger:active {
    transform: scale(0.98);
    /* Уменьшаем кнопку при активации */
  }

  &--gray {
    display: inline-block;
    padding: 11px 32px;
    text-decoration: none;
    border-radius: 0;
    font-size: $font-size-small + 2px;
    font-weight: $font-weight-semibold;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s, border-color 0.3s;
    border: 1.5px solid $text-secondary-dark;
    color: $text-secondary-dark;
  }

  &--gray:hover {
    background-color: $text-secondary-dark;
    color: $white;
  }

  &--gray:active {
    transform: scale(0.98);
  }

  // Стили для заблокированной кнопки
  &:disabled {
    background-color: $text-quaternary;
    color: $text-tertiary;
    border-color: $text-tertiary;
    cursor: not-allowed;
    opacity: 0.7;
    box-shadow: none;
  }
}