@use '../mixins' as m;

$prefix: '';

.#{$prefix}__card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.#{$prefix}__icon {
    width: 60;
    height: 60;
}

.#{&prefix}__card-title {
    @include m.heading-h3;
    text-align: center;
}

.#{&prefix}__description {
    @include m.text-p1;
    text-align: center;
}

