@use '../variables' as *; // Подключаем _variables.scss

.aam_contact-info {
  display: flex;
  flex-direction: column; // Располагаем элементы в колонку
  align-items: flex-end; // Выравниваем элементы по правому краю
  gap: 4px; // Расстояние между строками

  .aam_service-location {
    font-family: $font-family-primary;
    font-size: $font-size-small;
    font-weight: $font-weight-semibold;
    line-height: 19.07px;
    text-align: left;
    color: $background-color;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .aam_contact-details {
    display: flex;
    align-items: center; // Центрируем содержимое строки
    gap: 10px; // Расстояние между иконкой и номером телефона
    cursor: pointer; // Показывает, что элемент кликабельный
    text-decoration: none; // Убираем подчеркивание, если оно есть
    color: $text-primary; // Цвет текста по умолчанию

    .aam_phone-icon {
      width: 24px;
      height: 22px;
    }

    .aam_phone-number {
      font-family: $font-family-primary;
      font-size: $font-size-small;
      font-weight: $font-weight-semibold;
      line-height: 19.07px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }
}