// Dropdown.scss

@use '../variables' as *;  // Подключаем _variables.scss

.aam_dropdown {
  position: relative;
  display: inline-block;

  &-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: $white;  // Используем переменную для фона
    cursor: pointer;
    color: $text-primary;
    transition: color 0.3s;


    // Меняем цвет текста и иконки, если меню открыто
    &.open {
      color: $background-color;  // Цвет текста при открытии
    }
  }

  &-icon {
    margin-left: 10px;
    transition: transform 0.3s, fill 0.3s;

    &.open {
      transform: rotate(180deg);
      fill: $background-color;  // Цвет иконки при открытии
    }
  }

  &-menu {
    position: absolute;
    display:flex;
    flex-direction: column;
    gap: 20px;
    top: 100%;
    left: 0;
    margin-top: 5px;
    padding: 0;
    width: 677px;
    border: none;
    border-radius: 4px;
    background-color: $white;  // Используем переменную для фона
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    cursor: pointer;
    list-style: none;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 14px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $background-color;  // Используем переменную для фона на hover
    }

    &.address {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 19.07px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $text-secondary;
    }

    &.phone {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 19.07px;
      text-align: right;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $text-primary;
    }
  }

  &__footer {
    padding: 8px 12px;
    text-align: right;

    a {
      color: $text-quaternary;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
