// Dropdown.scss

@use '../variables' as *; // Подключаем _variables.scss

.aam_dropdown {
  position: relative;
  display: inline-block;

  &-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    font-size: $font-size-regular;
    border: none;
    background-color: $white; // Используем переменную для фона
    cursor: pointer;
    color: $text-primary;
    transition: color 0.3s;


    // Меняем цвет текста и иконки, если меню открыто
    &.open {
      color: $background-color; // Цвет текста при открытии
    }
  }

  &-icon {
    margin-left: 10px;
    transition: transform 0.3s, fill 0.3s;

    &.open {
      transform: rotate(180deg);
      fill: $background-color; // Цвет иконки при открытии
    }
  }

  &-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 100%;
    left: 0;
    margin-top: 15px;
    padding: 40px 31px 40px 32px;
    width: 677px;
    border: none;
    border-radius: 10px;
    background-color: $white; // Используем переменную для фона
    box-shadow: $shadow-primary;
    z-index: 1000;
    list-style: none;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $background-color; // Используем переменную для фона на hover
      border-radius: 3px;
    }

    &__button {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 2px 5px;
    }

    &__address {
      font-family: $font-family-primary;
      font-size: $font-size-small;
      font-weight: $font-weight-regular;
      line-height: 19px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $text-tertiary-dark;
    }

    &__phone {
      line-height: 19.07px;
      text-align: right;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $text-primary;
    }
  }

  &__footer {
    text-align: right;

    a {
      color: $text-quaternary;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}