@use '../variables' as *; // Подключаем _variables.scss

.aam_footer-navigation {
    position: relative;
    width: 876px;
    height: 21px;

    .aam_footer-navigation__list {
        display: flex;
        gap: 45px;

        li>a {
            color: $white;
            font-family: $font-family-tertiary;
            font-weight: $font-weight-semibold;
            font-size: $font-size-regular;

            &:hover {
                color: $background-hover;
            }
        }
    }
}