// Стили для элементов при наведении и нажатии
$default-color: #bebebe;
$hover-color: #00ff2f;
$active-color: #009c1d;

#bd, #be, #bf, #bg, #bh, #bi, #bj, #bk, #bl, #bm, #bn, #bo, #bp, #bq, #br, #bs, #bv, #ba {
  fill: $default-color;  // Начальный цвет
  transition: fill 0.1s ease; // Плавный переход при изменении цвета
}

// Стили для кнопок при наведении
#bd:hover, #be:hover, #bf:hover, #bg:hover, #bh:hover, #bi:hover, #bj:hover, #bk:hover, #bl:hover, #bm:hover, #bn:hover, #bo:hover, #bp:hover, #bq:hover, #br:hover, #bs:hover, #bv:hover, #ba:hover {
  fill: $hover-color;  // Цвет при наведении
  cursor: pointer;
}

// Стили для кнопок при активном состоянии (нажатии)
#bd.active, #be.active, #bf.active, #bg.active, #bh.active, #bi.active, #bj.active, #bk.active, #bl.active, #bm.active, #bn.active, #bo.active, #bp.active, #bq.active, #br.active, #bs.active, #bv.active, #ba.active {
  fill: $active-color;  // Цвет при нажатии
}

// Стили для элемента tspan, чтобы курсор изменялся на указатель
tspan:hover {
  cursor: pointer;
}
