@use '../variables' as *; // Теперь можно использовать переменные напрямую

.aam_search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 1280px;

    .aam_search-block {
        position: relative;
        width: 543px;
        margin: 30px 0 10px;
        display: flex;
        padding: 20px 15px;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid $text-disabled;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;

        &:focus-within {
            border-color: $text-primary;
            box-shadow: 0 0 8px rgba($text-primary, 0.3);
        }

        svg {
            width: 21px;
            height: 21px;
            fill: $text-secondary;
        }

        .aam_search-input {
            border: none;
            outline: none;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            background: transparent;
            color: $text-primary;

            &::placeholder {
                color: $text-disabled;
                font-style: italic;
            }
        }
    }
}

.aam_no-results-message {
    color: $error-color;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.aam_search-results {
    width: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: $text-light;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.aam_search-result {
    padding: 12px 15px;
    border-bottom: 1px solid $text-disabled;
    transition: background-color 0.2s ease;

    &:last-child {
        border-bottom: none;
    }

    a {
        text-decoration: none;
        color: $text-primary;
        font-size: inherit;
        display: block;
        width: 100%;

        &:hover {
            color: $text-secondary;
        }
    }
}

.highlight {
    background-color: $background-selection;
    color: $text-primary;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
}
