@use '../../variables' as *;
@use '../../mixins' as m;

.aam_clients-partners-section {
    position: relative;
    width: 1280px;
    padding: 10px 50px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

    &__title {
        @include m.heading-h2;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        margin-bottom: 15px;
    }

    &__item {
        @include m.text-p1;
        list-style-position: inside;
        list-style-type: decimal;
        line-height: 24.51px;
        text-align: justify;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 25px;
    }
}