@use '../../variables' as *;
@use '../../mixins' as m;

.aam_clients-advantages-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1280px;
    padding: 60px 50px;

    &__title {
        @include m.heading-h2;
    }

    &__cards-box {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 25px;
    }

    @include m.card-box-styles('aam_clients-advantages-section');
    
}