@use '../../variables' as *;
@use '../../mixins' as m;

.aam_clients-soft-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 1280px;
    padding: 10px 50px 60px;

    &__header {
        @include m.heading-h2;
        word-wrap: break-word;
    }

    &__card-boxes {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 50px;
    }

    .aam_service-card {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 30%;
        padding: 20px;

        &__icon {
            margin-bottom: 10px;
    
            svg {
                width: 76px;
                height: 76px;
            }
        }
    
        &__card-title {
            @include m.heading-h3;
        }
    }

    &__site-nav {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aam_link-button {
        margin-bottom: 50px;
    }

    .secondary-link {
        @include m.text-p2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: $text-secondary;
        transition: scale 0.3s ease;

        &:hover {
            svg {
                scale: 1.07;
            }

            svg path {
                fill: #48AE5A;
            }

            svg circle {
                stroke: #48AE5A;
            }
        }
    }

    .home-link {
        position: absolute;
        bottom: 0;
        left: 0;
        @include m.text-p2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-decoration: none;
        color: $text-secondary;
    }
}