@use '../../variables' as *;
@use '../../mixins' as m;

.aam_documents-for-download-main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 1280px;
    padding: 60px 50px;

    &__breadcrumbs {
        @include m.text-p1;
        color: $text-disabled;
        margin-bottom: 15px;

        a {
            color: $background-color;
            text-decoration: none;

            &:hover {
                color: $background-hover;
                text-decoration: underline;
            }
        }
    }

    &__header {
        @include m.heading-h1;
        word-wrap: break-word;
        margin-bottom: 10px;
    }

    &__boxes-header {
        @include m.heading-h2;
    }

    &__card-boxes {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 35px;
    }

    &__card-box, .aam_service-card {
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        width: 30%;
        padding: 20px;
    }

    .aam_service-card {
        flex-direction: row;
        align-self: flex-start;
        width: 100%;
        gap: 10px;

        &__button {
            flex-direction: row;
        }

        &__title {
            text-align: left;
        }
    }

    &__icon {
        margin-bottom: 10px;

        svg {
            width: 76px;
            height: 76px;
        }
    }

    &__card-title {
        @include m.heading-h3;
    }

    &__card-description {
        @include m.text-p1;
        text-align: left;
    }

    &__site-nav {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aam_link-button {
        align-self: center;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .secondary-link {
        @include m.text-p2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: $text-secondary;
        transition: scale 0.3s ease;

        &:hover {
            svg {
                scale: 1.07;
            }

            svg path {
                fill: #48AE5A;
            }

            svg circle {
                stroke: #48AE5A;
            }
        }
    }

    .home-link {
        position: absolute;
        bottom: 0;
        left: 0;
        @include m.text-p2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-decoration: none;
        color: $text-secondary;
    }
}