@use '../../variables' as *;
@use '../../mixins' as m;

.aam_documents-for-download-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 1280px;
  padding: 10px 50px 60px;

  &__breadcrumbs {
    @include m.text-p1;
    color: $text-disabled;
    margin-bottom: 15px;

    a {
      color: $background-color;
      text-decoration: none;

      &:hover {
        color: $background-hover;
        text-decoration: underline;
      }
    }
  }

  &__header {
    @include m.heading-h1;
    margin-bottom: 35px;
  }

  &__section {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__documents-title {
    @include m.heading-h3;
    margin-bottom: 15px;
  }

  &__doc-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: $text-primary;
        transition: color 0.2s ease;

        &:hover {
          color: $background-hover;

          svg path {
            fill: #48AE5A;
          }
        }
      }
    }
  }

  &__doc-icon {
    width: 20px;
    height: 25px;

    svg path {
      fill: $text-secondary;
    }
  }

  &__site-nav {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .secondary-link {
    @include m.text-p2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: $text-secondary;
    transition: scale 0.3s ease;

    &:hover {
      svg {
        scale: 1.07;

        path {
          fill: #48AE5A;
        }

        circle {
          stroke: #48AE5A;
        }
      }
    }
  }

  .home-link {
    position: absolute;
    bottom: 0;
    left: 0;
    @include m.text-p2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: $text-secondary;
  }
}