@use '../../variables' as *;
@use '../../mixins' as m;

.aam_e-money-regulations-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 1280px;
    padding: 10px 50px 60px;

    &__breadcrumbs {
        @include m.text-p1;
        color: $text-disabled;
        margin-bottom: 15px;

        a {
            color: $background-color;
            text-decoration: none;

            &:hover {
                color: $background-hover;
                text-decoration: underline;
            }
        }
    }

    &__header {
        @include m.heading-h1;
        font-size: 40px;
        line-height: 1.1;
        word-wrap: break-word;
        margin-bottom: -5px;
    }

    &__description {
        @include m.text-p1;
        margin-bottom: 50px;

        &--first {
            margin-bottom: 25px;
        }

        &--ol>li {
            list-style-type: decimal;
            list-style-position: inside;
            margin-left: 5px;

            p {
                margin-left: 30px;
            }

            ul>li {
                margin-left: 90px;
            }

            a {
                color: $background-color;
            }

            a:hover {
                color: $background-hover;
                text-decoration: underline;
            }
        }
    }

    &__site-nav {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aam_link-button {
        margin-bottom: 50px;
    }

    .secondary-link {
        @include m.text-p2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: $text-secondary;
        transition: scale 0.3s ease;

        &:hover {
            svg {
                scale: 1.07;
            }

            svg path {
                fill: #48AE5A;
            }

            svg circle {
                stroke: #48AE5A;
            }
        }
    }

    .home-link {
        position: absolute;
        bottom: 0;
        left: 0;
        @include m.text-p2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-decoration: none;
        color: $text-secondary;
    }
}