@use '../../variables' as *;
@use '../../mixins' as m;

.aam_faq-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 1280px;
    padding: 10px 50px 60px;
    
  
    &__title {
      @include m.heading-h2;
    }
  
    &__list {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      cursor: pointer;
      width: 100%;
      overflow: hidden;
    }

    &__item:not(:first-child) {
      border-top: 1px solid $text-quaternary-dark;
    }
  
    &__question {
      @include m.heading-h3;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 77px;
    }
  
    &__answer {
      position: relative;
      align-self: flex-start;
      display: flex;
      align-items: center;
      min-height: 77px;
      max-height: auto;
      width: 100%;
      @include m.text-p1;
      padding-left: 100px;
      border-top: 1px solid $text-quaternary-dark;
      transition: max-height 0.3s ease, min-height 0.3s ease, opacity 0.3s;
      opacity: 1;
      overflow: auto;

      background-color: $error-color;
      color: $white;
    }
    
    .hidden {
      min-height: 0;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
    }
  }
  