@use '../../variables' as *;
@use '../../mixins' as m;

.aam_for-clients-main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 1280px;
    padding: 60px 50px;

    &__breadcrumbs {
        align-self: flex-start;
        @include m.text-p1;
        color: $text-disabled;
        margin-bottom: 5px;

        a {
            color: $background-color;
            text-decoration: none;

            &:hover {
                color: $background-hover;
                text-decoration: underline;
            }
        }
    }

    &__title {
        align-self: flex-start;
        @include m.heading-h1;
        margin-bottom: 10px;
    }

    &__description {
        @include m.text-p1;
        margin-bottom: 5px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: space-between;
    }
}

.aam_information-card.clientsCard-1 .aam_information-card__hover-overlay {
    padding: 80px 8px;
  }
  .aam_information-card.clientsCard-2 .aam_information-card__hover-overlay {
    padding: 170px 27px;
  }
  .aam_information-card.clientsCard-3 .aam_information-card__hover-overlay {
    padding: 170px 13px;
  }
  .aam_information-card.clientsCard-4 .aam_information-card__hover-overlay {
    padding: 90px 26px;
  }