@use '../../variables' as *;
@use '../../mixins' as m;

.aam_gs-automation-system-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 1280px;
    padding: 10px 50px 60px;

    &__breadcrumbs {
        @include m.text-p1;
        color: $text-disabled;
        margin-bottom: 15px;

        a {
            color: $background-color;
            text-decoration: none;

            &:hover {
                color: $background-hover;
                text-decoration: underline;
            }
        }
    }

    &__header {
        @include m.heading-h1;
        word-wrap: break-word;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        &--sup,
        &--sub {
            text-transform: uppercase;
        }

        &--sup {
            @include m.heading-h3;
            color: $background-color;
        }

        &--sub {
            @include m.heading-h2
        }
    }

    &__description {
        @include m.text-p1;
        margin-bottom: 35px
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 40px;


        &--title {
            @include m.heading-h3;
        }

        &--sub-title {
            @include m.text-p1;
        }

        &--list li {
            @include m.text-p1;
            list-style-type: disc;
            list-style-position: inside;
            margin-left: 15px;
        }

        &--container {
            display: flex;
            gap: 30px;
        }
    }

    &__image-wrapper {
        min-width: 43%;
        text-align: center;
        background-color: rgba($background-selection, 0.1);
        border-radius: 12px;
        margin-bottom: 40px;
    }

    &__image-wrapper img {
        width: 100%;
        height: auto;
        display: block;
    }

    &__site-nav {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
    }

    .aam_link-button {
        margin-bottom: 50px;
    }

    .secondary-link {
        @include m.text-p2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: $text-secondary;
        transition: scale 0.3s ease;

        &:hover {
            svg {
                scale: 1.07;
            }

            svg path {
                fill: #48AE5A;
            }

            svg circle {
                stroke: #48AE5A;
            }
        }
    }

    .home-link {
        position: absolute;
        bottom: 0;
        left: 0;
        @include m.text-p2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-decoration: none;
        color: $text-secondary;
    }
}