@use '../../variables' as *;
@use '../../mixins' as m;

.aam_invoices-site-tariffs-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 1280px;
    padding: 10px 50px 60px;

    &__breadcrumbs {
        @include m.text-p1;
        color: $text-disabled;
        margin-bottom: 15px;

        a {
            color: $background-color;
            text-decoration: none;

            &:hover {
                color: $background-hover;
                text-decoration: underline;
            }
        }
    }

    &__header {
        @include m.heading-h1;
        word-wrap: break-word;
    }

    &__description {
        @include m.text-p1;
        margin-bottom: 35px
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 20px;
        margin-bottom: 40px;

        &--title {
            @include m.heading-h3;
        }

        &--color-link {
            color: $background-color;

            &:hover {
                color: $background-hover;
                text-decoration: underline;
            }
        }
        
        &--color-span {
            color: $background-color;
        }

        svg {
            position: relative;
            top: 2px;
            transition: transform 0.3s ease;
        }

        &--sub-title {
            @include m.text-p1;

            a {
                color: $background-color;
                text-decoration: none;
    
                &:hover {
                    color: $background-hover;
                    text-decoration: underline;
                }
            }
        }

        &--list li {
            @include m.text-p1;
            list-style-type: disc;
            list-style-position: inside;
            margin-left: 15px;

            ul>li {
                list-style-type: circle;
                list-style-position: inside;
            }
        }

        &--ps {
            @include m.text-p1;

            a {
                color: $background-color;
                text-decoration: none;
    
                &:hover {
                    color: $background-hover;
                    text-decoration: underline;
                }
            }
        }

        &--service-card {
            align-self: center;
        }

        &--container {
            margin-top: 30px;
            display: flex;
            gap: 50px;

            &-block {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-width: 350px;
                gap: 20px;

                &-color-title {
                    @include m.heading-h4;
                    color: $background-color;
                    text-align: left;
                }

                &-sub-title {
                    @include m.heading-h4;
                    text-transform: uppercase;
                }

                &-list li {
                    @include m.text-p1;
                    list-style-type: decimal;
                    list-style-position: inside;
        
                    ul>li {
                        list-style-type: circle;
                        list-style-position: inside;
                    }

                    a {
                        color: $background-color;
                        text-decoration: none;
            
                        &:hover {
                            color: $background-hover;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    &__site-nav {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
    }

    .aam_link-button {
        margin-bottom: 50px;
    }

    .secondary-link {
        @include m.text-p2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: $text-secondary;
        transition: scale 0.3s ease;

        &:hover {
            svg {
                scale: 1.07;
            }

            svg path {
                fill: #48AE5A;
            }

            svg circle {
                stroke: #48AE5A;
            }
        }
    }

    .home-link {
        position: absolute;
        bottom: 0;
        left: 0;
        @include m.text-p2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-decoration: none;
        color: $text-secondary;
    }
}