@use '../../variables' as *;

.aam_main-block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1280px;
    padding: 10px 50px 60px;

    &__header {
        text-align: left;
        margin-bottom: 40px;

        h1 {
            font-family: $font-family-secondary;
            font-size: $font-size-heading;
            font-weight: $font-weight-bold;
            line-height: 70.5px;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-bottom: 40px;
        }
    }

    &__services {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    &__footer {
        align-self: flex-end;

        span {
            color: $text-primary;
            font-family: $font-family-primary;
            font-size: $font-size-regular;
            font-weight: $font-weight-semibold;
            line-height: 24.51px;
        }
    }
}