@use '../../variables' as *;
@use '../../mixins' as m;

.aam_secret-portal-button {
    display: inline-block;
    cursor: pointer;
}

.aam_secret-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease forwards;
    z-index: 1000;
}

.aam_secret-modal {
    background: #111;
    color: #0f0;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px #0f0;
    text-align: center;
    position: relative;
    min-width: 300px;
    animation: slideDown 0.3s ease forwards;

    h2 {
        @include m.heading-h5;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    &--buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
            margin: 0 1rem;
            padding: 0.5rem 1rem;
            border: none;
            cursor: pointer;
            font-weight: bold;
            border-radius: 6px;
            transition: transform 0.2s, box-shadow 0.2s;
            display: flex;
            flex-direction: column;
            gap: 5px;
            text-align: center;

            &:hover {
                transform: scale(1.1);
                box-shadow: 0 0 10px #0f0;
            }
        }

        .aam_red-pill, .aam_blue-pill {
            color: #0f0;
        }
    }

    .aam_close-button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background: transparent;
        border: none;
        color: #0f0;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

/* Вынесенные анимации */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
