@use '../../variables' as *;
@use '../../mixins' as m;

.aam_system-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1280px;
    padding: 60px 50px;
    padding-top: 30px;

    &__title {
        @include m.heading-h2;
    }

    &__services {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    &__additional-services {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        ol li {
            @include m.text-p1;
            line-height: 24.51px;
            list-style-type: decimal;
            list-style-position: inside;
        }
    }

    &__list-title {
        align-self: center;
        @include m.heading-h3;
        margin-bottom: 30px;
    }

    &__images {
        display: flex;
        justify-content: center;
        gap: 25px;
    }
}