@use '../../../variables' as *;
@use '../../../mixins' as m;

.aam_slide4-section {
    position: relative;
    width: 100%;
    height: 88%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-top: 15px;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;

    &--header {
        align-self: flex-start;
        line-height: 1.5;
        width: fit-content;
        padding: 5px 25px;
        background-color: $background-color;
        color: $white;
    }

    img {
        position: absolute;
        width: 180px;
        height: auto;
    }

    #pis {
        top: 75px;
        right: 45px;
    }

    #man {
        top: 0px;
        right: 190px;
    }

    #wom {
        top: 160px;
        right: 100px;
    }

    &--container {
        position: relative;
        align-items: flex-start;
        justify-content: flex-start;
        width: 70%;
        height: 98%;

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 1.2rem 2.5rem;
            background: rgba(11, 14, 20, 0.1);
            backdrop-filter: blur(2px);
            border-radius: 10px;
            gap: 15px;
            width: auto;
            min-width: 45%;
            height: 90%;

            img {
                width: auto;
                height: 90%;
            }
        }
    }
}