@use '../../../variables' as *;
@use '../../../mixins' as m;

.aam_slide-section {
    position: relative;
    width: 100%;
    height: 88%;
    z-index: 2;
    display: flex;
    padding: 0 15px;
    padding-top: 35px;
    align-items: center;
    justify-content: space-between;

    &--container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        gap: 15px;

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
            padding: 0.5rem 2.5rem;
            gap: 10px;
            width: 100%;
            height: 35%;

            h1 {
                @include m.heading-h2;
            }

            h2 {
                @include m.heading-h3;
            }

            p {
                @include m.text-p1;
                font-size: $font-size-regular;
                font-family: $font-family-tertiary;
            }

            &-header,
            &-text {
                text-align: left;
                color: $white;
            }

            &-text {
                
                letter-spacing: 0.05em;
            }
        }

        #QR {
            align-self: flex-end;
            height: 25%;
            width: auto;
            border-radius: 10px;
            margin-right: 35px;
        }

        #BD {
            position: relative;
            right: 10%;
            bottom: 20px;
            width: 100%;
            height: auto;
            z-index: 3;

        }
    }

    &--container:first-of-type {
        width: 65%;
        background: rgba(11, 14, 20, 0.1);
        backdrop-filter: blur(2px);
        border-radius: 10px;
        margin-bottom: 35px;
        justify-content: space-evenly;
    }
}