@use '../variables' as *;
@use '../mixins' as m;

.aam_logbook-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    padding: 15px;
    border: 10px inset $border-primary;
    box-shadow: 0px 10px 16px 0px #5F5F5F1F;
    background-color: $text-disabled;
    width: max-content;
    min-height: calc(100vh - 16px);
    height: calc(100vh - 16px);
    color: $text-primary;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        max-width: 80%;

        &--row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            &-role {
                display: inline-flex;
                gap: 10px;
                @include m.text-p1
            }

            &-logout-btn {
                display: inline-flex;
                justify-self: flex-end;
            }
        }

    }

    &__content {
        width: 100%;
        max-width: 1480px; // ограничиваем ширину страницы
        margin: 0 auto;
        overflow-x: auto; // горизонтальный скролл, если таблица широкая
        padding: 0 20px;

        .aam_logbook__table-wrapper {
            max-height: 70vh; // ограничение по высоте таблицы
            overflow-y: auto; // вертикальный скролл для длинных таблиц
        }

        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed; // фиксированные колонки, чтобы последняя была строго 90px
            min-width: 600px; // минимальная ширина таблицы для маленьких экранов

            th,
            td {
                padding: 10px 12px;
                text-align: left;
                border-bottom: 1px solid #ddd;
                font-size: 0.95rem;
                word-wrap: break-word;
            }
        }
    }
}