@use './variables' as *;

@mixin heading-h1 {
    font-family: $font-family-secondary;
    font-size: $font-size-heading;
    font-weight: $font-weight-semibold;
    line-height: 70.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

@mixin heading-h2 {
    font-family: $font-family-secondary;
    font-size: $font-size-x-large;
    font-weight: $font-weight-semibold;
    line-height: 47px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@mixin heading-h3 {
    font-family: $font-family-secondary;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: 31.73px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@mixin heading-h4 {
    font-family: $font-family-secondary;
    font-size: calc(#{$font-size-large} - 3px);
    font-weight: $font-weight-bold;
    line-height: 28.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@mixin heading-h5 {
    font-family: $font-family-secondary;
    font-size: calc(#{$font-size-large} - 5px);
    font-weight: $font-weight-bold;
    line-height: 25.85px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@mixin text-p1 {
    font-family: $font-family-primary;
    font-size: $font-size-regular;
    font-weight: $font-weight-regular;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@mixin text-p2 {
    font-family: $font-family-primary;
    font-size: $font-size-regular;
    font-weight: $font-weight-semibold;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@mixin card-box-styles($prefix) {
    .#{$prefix}__card-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 20px;
    }

    .#{$prefix}__icon {
        text-align: center;
        svg {
            width: 60px;
            height: 60px;
        }
    }

    .#{$prefix}__card-title {
        font-family: $font-family-secondary;
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        line-height: 31.73px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-align: center;
    }

    .#{$prefix}__card-description {
        font-family: $font-family-primary;
        font-size: $font-size-regular;
        font-weight: $font-weight-regular;
        line-height: 20px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-align: center;
    }
}