// _tokens.scss

// Основные цвета
$aam_background-selection: #77bb77;   // Фон, текст, иконки
$aam_background-color: #48AE5A;   // Фон, текст, иконки
$aam_background-hover: #176224;   // Фон, текст:hover
$aam_error-color: #F24942;        // Ошибки
$aam_white: #FFFFFF;              // Основной цвет фона

// Цвета текста и рамок по приоритетности
$aam_text-primary: #000000;       // Основной текст
$aam_text-secondary: #1F1F1F;     // Вторичный текст
$aam_text-secondary-dark: #373737;          // Темный вторичный текст
$aam_text-tertiary: #4D4D4D;      // Третичный текст
$aam_text-tertiary-dark: #484848;
$aam_text-quaternary-dark: #626262;
$aam_text-quaternary: #949494;    // Четверичный текст
$aam_text-disabled: #A3A3A3;      // Текст, который неактивен или отключен
$aam_text-light: #F5F5F5;         // Светлый текст или фон (для использования на светлом фоне)


// Цвета для рамок и теней
$aam_border-primary: #000000;     // Рамки
$aam_border-secondary: #77bb77;     // Рамки
$aam_shadow-primary: 0px 7px 12px 0px #5F5F5F1F;     // Тень
$aam_shadow-secondary: 0px 12px 17px 0px #176224;     // Тень
$aam_shadow-tertiary: 0px 0px 17px 0px #176224;     // Тень

// Токены шрифтов

// Семейство шрифтов
$aam_font-family-primary: 'Open Sans', Arial, sans-serif; // Основное семейство шрифтов
$aam_font-family-secondary: 'Public Sans', Arial, sans-serif;
$aam_font-family-tertiary: 'Roboto', Arial, sans-serif;

// Начертания шрифтов
$aam_font-weight-light: 300;  // Обычный
$aam_font-weight-regular: 400;  // Обычный
$aam_font-weight-semibold: 600; // Полужирный
$aam_font-weight-bold: 700;     // Жирный

// Размеры шрифтов
$aam_font-size-x-small: 12px;   // Очень маленький текст
$aam_font-size-small: 14px;     // Маленький текст
$aam_font-size-regular: 18px;   // Стандартный текст
$aam_font-size-large: 27px;     // Крупный текст
$aam_font-size-x-large: 40px;     // заголовки второго уровня
$aam_font-size-heading: 60px;   // Заголовки

// Межстрочный интервал
$aam_line-height-small: 1.2;    // Маленький интервал
$aam_line-height-regular: 1.5;  // Стандартный интервал
$aam_line-height-large: 1.8;    // Крупный интервал
