// _variables.scss

@use './tokens' as aam;  // Подключаем _tokens.scss и задаем префикс aam

// Основные цвета
$background-selection: aam.$aam_background-selection;
$background-color: aam.$aam_background-color;
$background-hover: aam.$aam_background-hover;
$error-color: aam.$aam_error-color;
$white: aam.$aam_white;

// Цвета текста и рамок по приоритетности
$text-primary: aam.$aam_text-primary;
$text-secondary: aam.$aam_text-secondary;
$text-secondary-dark: aam.$aam_text-secondary-dark;
$text-tertiary: aam.$aam_text-tertiary;
$text-tertiary-dark: aam.$aam_text-tertiary-dark;
$text-quaternary-dark: aam.$aam_text-quaternary-dark;
$text-quaternary: aam.$aam_text-quaternary;
$text-disabled: aam.$aam_text-disabled;
$text-light: aam.$aam_text-light;

// Цвета для рамок и теней
$border-primary: aam.$aam_border-primary;
$border-secondary: aam.$aam_border-secondary;
$shadow-primary: aam.$aam_shadow-primary;
$shadow-secondary: aam.$aam_shadow-secondary;

// Токены шрифтов

// Семейство шрифтов
$font-family-primary: aam.$aam_font-family-primary; // Основное семейство шрифтов
$font-family-secondary: aam.$aam_font-family-secondary;
$font-family-tertiary: aam.$aam_font-family-tertiary;

// Начертания шрифтов
$font-weight-light: aam.$aam_font-weight-light;  // Обычный
$font-weight-regular: aam.$aam_font-weight-regular;  // Обычный
$font-weight-semibold: aam.$aam_font-weight-semibold; // Полужирный
$font-weight-bold: aam.$aam_font-weight-bold;         // Жирный

// Размеры шрифтов
$font-size-x-small: aam.$aam_font-size-x-small;   // Очень маленький текст
$font-size-small: aam.$aam_font-size-small;       // Маленький текст
$font-size-regular: aam.$aam_font-size-regular;   // Стандартный текст
$font-size-large: aam.$aam_font-size-large;       // Крупный текст
$font-size-x-large: aam.$aam_font-size-x-large;     // заголовки второго уровня
$font-size-heading: aam.$aam_font-size-heading;   // Заголовки

// Межстрочный интервал
$line-height-small: aam.$aam_line-height-small;      // Маленький интервал
$line-height-regular: aam.$aam_line-height-regular;  // Стандартный интервал
$line-height-large: aam.$aam_line-height-large;      // Крупный интервал
